
@{
    ViewData["Title"] = "Sipariş İşleminiz Başarılı!";
}

<div class="alert alert-info">
    <p>Sipariş başarılı bir şekilde tamamlandı</p>
    <p>Sipariş no: @ViewBag.orderId</p>
</div>
<a href="/Home/Index" class="btn btn-primary">Anasayfa</a>


